body {
	font-family: verdana;
	font-size: 12px;
	font-color: black;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.header {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	border: 0;  
	background-color:#FF6600;
  font-size:   11px;
}

.header #logo {
	width: 14px;
	border: 1px solid white;
	font-size: 11px;
	text-align: center;
	vertical-align: center;
	color: white;
}

.header #title {
	font-weight: bold;
	padding-left: 2px;
	text-align: left;
	width: 90px;
}

.header #new {
	text-align: left;
	width: 40px;
}

.header #admin {
}

.header #login {
	text-align: right;
	padding-right: 4px;
}

.links {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color:#F6F6EF;
	padding-top: 6px;
	padding-bottom: 16px;
}

td {
/*	border: 1px solid blue;*/
}

.links #count {
	padding-top: 4px;
	vertical-align: top;
	font-size:   11px;
	color: #787878;
	width: 10px;
}

.links #count #one {
	padding-left: 8px;
}

.links #button {
	width: 12px;
}

.links #button #disabled {
	opacity: 0.15;
	/*visibility: hidden;*/
}

.links #title {
	font-size: 11px;
}

.links #host {
	font-size:   9px;
	color: #787878;
}

.links #second {
	font-size:   8px;
	color: #787878;
	vertical-align: top;
}

.notice, .alert, .sign {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	font-size: 11px;
}

a { text-decoration:none }
a:link { color: black; }  
a:visited {	color: black; }  	
a:hover { color: black; } 
a:active { color: white; }