<h1>Listing votes</h1>

<table>
  <tr>
    <th>Value</th>
    <th>User</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.value %></td>
    <td><%= vote.user.username %></td>
    <td><%= vote.link.title %></td>
    <td><%= link_to 'Destroy', vote, :confirm => 'Are you sure?', 
			:method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

